<h1>Welcome to Lowell, Alina, and Ross' Flashcard Game</h1>
<div>
  <h3>Login:</h3><br/>
  <form action="/login" method="post">
    <label for="username">Username</label><br/>
    <input type="text" name="user[username]"/>
    <label for="password">Password</label><br/>
    <input type="password" name="user[password]"/>
    <input type="submit" value="Login"/>
  </form>
</div>