<div>
  <h3>Login:</h3><br/>
  <form action="/login" method="post">
    <label for="username">Username</label><br/>
    <input type="text" name="username"/>
    <label for="password">Password</label><br/>
    <input type="password" name="password"/>
    <input type="submit" value="Login"/>
  </form>
</div>