<div class="col-md-4"></div>

<div class="col-md-4">
  <h3>Flashcard Signup</h3><br/>
  <% if @username_taken %>
    <h4 class="text-warning">That username is taken please choose another one</h4>
  <%end%>
  <form action="/signup" method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" type="text" name="user[username]"/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password" name="user[password]"/>
    </div>
    <button class="btn btn-primary" type="submit"/>Signup</button>
  </form>
</div>


<div class="col-md-4"></div>

