.button-container {
  text-align: center;
}

.buttons {
  display: inline-block;
} .last {
  margin-right: auto;
}

.text {
  text-align: center;
}

#cardform {
  margin: 0 auto;
  width: 300px;
}

#formtwo {
  margin: 20 auto;
  width: 300px;
}

#green {
  color: green;
}

#red {
  color: red;
}

#blue {
  color: blue;
}

.welcome h1 {
  text-align: center;
}

.welcome-buttons {
  text-align: center;
}

.logout button {
  margin-top: 6px;
}