<div class="col-md-2"></div>

<div class="col-md-8">
  <h1>Which game would you like to play?</h1>

  <div>
    <%= erb :'decks/_deck', locals: {decks: @decks} %>
  </div>
</div>

<div class="col-md-2"></div>