<h1>You'd like to play the <%= @deck.name %> deck?</h1>

<form action="/decks/<%= @deck.id %>" method="post">
<input type="hidden" name="yes">
<input type="submit" value="Yes!">
</form>

<form action="/decks" method="get">
<input type="submit" value="No, back to decks!">
</form>