<div class="container welcome">
  <h1>Welcome to Lowell, Alina, and Ross' Flashcard Game</h1>
  <div class="welcome-buttons">
    <a class="btn btn-success" href="/login">Login</a>
    <a class="btn btn-primary" href="/signup">Signup</a>
  </div>
</div>